.menu
    display: flex
    justify-content: space-around         
    flex-wrap: nowrap
    margin-top: 30px 
    list-style-type: none
    background-color: $grey 
    @media (max-width: $md)
        flex-direction: column 
        display: none 
    @media (min-width: $md)
        display: flex
        flex-direction: row   
        
    li
        width: 100%      
        position: relative 
        z-index: 1 
        box-sizing: border-box 
             
        &:first-child
            border-left: 1px solid $nav-border-color
        &:last-child
            border-right: 1px solid $nav-border-color
                                   
     
    .menu__item
        display: block              
        height: 40px    
        text-transform: uppercase
        text-align: center 
        font: normal 14px/40px 'Oswald', sans-serif
        font-weight: 400 
        color: $dark-grey              
        border-top: 1px solid $nav-border-color
        border-bottom: 1px solid $nav-border-color
        box-sizing: border-box 
                       
    .menu__item--active   
        color: #fff 
        @media screen and (max-width: $md) 
            background-color: $hover-color 
.fa-bars    
    height: 40px  
    font-size: 30px  
    margin-left: 15px   
    color: $hover-color 
    @media screen and (min-width: $md)     
        display: none  

.activeBar
    position: absolute     
    background: $hover-color
    z-index: 1 
    box-sizing: border-box 
    @media screen and (max-width: $sm)         
        display: none   

#js-activeBar
    @media (max-width: $md)
        display: none                


              
       
                        
        