header.header
    +paddings(25px, 140px, 0px)
    .top
        display: flex
        justify-content: space-between 
        flex-wrap: nowrap 
        @media (max-width: $md)
            justify-content: space-between 
            .logo
                order: 1   
            .fa-bars
                order: 2  


